@Catalog
@{
    ViewData["Title"]="Catalog Page"
}
<div class="text-center">

@{
    Product p1=ViewData["flower"] as Product;

}
<h1>Product Catalog</h1>
<hr/>
    <img src=".\1.jpg" width="300"/>
    <p>Client : Mr RanVijay Pratap and Mrs Snehal Pratap</p>
    <p>Description : </p>
    

</div>